<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/mock-up.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Baloo|Bungee|Concert+One|Montserrat|Nova+Flat|Patua+One|Press+Start+2P|Prosto+One|Righteous"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <title>Mock up</title>

</head>
<body>
<img src="img/logo.png" alt=logo id="logo">
<h1 class="gameName">Whats the Word?</h1>
<table class="table">
    <tr>
        <!-- <img src = "img/product-1.png" class="photos"> -->
        <!--<th class="pictures"><img src="https://source.unsplash.com/800x800/?tablet" class="photos" id="photo1"></th>-->
        <th class="pictures"><img src="img/tablets.jpg" class="photos" id="photo1"></th>
        <th class="pictures"><img src="img/laptop.jpg" class="photos" id="photo2"></th>
        <!--<th class="pictures"><img src="https://source.unsplash.com/800x800/?laptop" class="photos" id="photo2"></th>-->

        <!-- <th class = "pictures"><img src="img/product-2.png" class="photos"></th> -->
    </tr>
    <tr>
        <th class="pictures"><img src="img/phone.jpg" class="photos" id="photo3"></th>
        <!--<th class="pictures"><img src="https://source.unsplash.com/800x800/?smartphone" class="photos" id="photo3"></th>-->
        <th class="pictures"><img src="img/tech.jpg" class="photos" id="photo4"></th>
        <!--<th class="pictures"><img src="https://source.unsplash.com/800x800/?technology" class="photos" id="photo4"></th>-->


        <!-- <th class = "pictures"><img src="img/product-3.png" class="photos"></th>
          <th class = "pictures"><img src ="img/product-4.png" class="photos"></th> -->
    </tr>
</table>

<!-- <form class = "form"> -->
<div class="form">

    <input id="guess" class="guess" placeholder="Enter guess here!">
    <button id="submit">
        Submit
    </button>
    <button id="clear">
        Clear
    </button>
</div>
<!-- </form> -->

<div id="Image1" class="Image">
    <span class="close">&times;</span>
    <img class="Image-content" id="img1">
</div>

<div id="Image2" class="Image">
    <span class="close">&times;</span>
    <img class="Image-content" id="img2">
</div>

<div id="Image3" class="Image">
    <span class="close">&times;</span>
    <img class="Image-content" id="img3">
</div>
<div id="Image4" class="Image">
    <span class="close">&times;</span>
    <img class="Image-content" id="img4">
</div>
<div id="redteam">Red Score: 0</div>
<div id="blueteam">Blue Score: 0</div>
<div id="countDown"></div>
<div id="time">
    <div id="timer"></div>
</div>
<div class="body" id="hideRed">
    <div class="statTitle">Red Team Guesses</div>
    <div class="stats" id="redTeamStats">
        <p>'Technology'</p>
        <div class="redbar" id="rbar1">40%</div>
        <p>'Phone'</p>
        <div class="redbar" id="rbar2">22%</div>
        <p>'Tablet'</p>
        <div class="redbar" id="rbar3">20%</div>
        <p>'Smartphone'</p>
        <div class="redbar" id="rbar4">18%</div>
    </div>
</div>
<div class="body" id="hideBlue">
    <div class="statTitle">Blue Team Guesses</div>
    <div class="stats" id="blueTeamStats">
        <p>'Technology'</p>
        <div class="bluebar" id="bbar1">60%</div>
        <p>'Phones'</p>
        <div class="bluebar" id="bbar2">30%</div>
        <p>'Tech'</p>
        <div class="bluebar" id="bbar3">5%</div>
        <p>'Future'</p>
        <div class="bluebar" id="bbar4">5%</div>
    </div>

</div>
<div class="body2" id="hideScore">
    <div class="container">
        <div id="correctWord">Correct word was : Technology</div>
        <div id="bt">
            Blue Team : 1
        </div>
        <div id="rt">
            Red Team : 0
        </div>
    </div>
</div>

<script>


    var Image1 = document.getElementById('Image1');
    var Image2 = document.getElementById('Image2');
    var Image3 = document.getElementById('Image3');
    var Image4 = document.getElementById('Image4');

    var image1 = document.getElementById('photo1');
    var image2 = document.getElementById('photo2');
    var image3 = document.getElementById('photo3');
    var image4 = document.getElementById('photo4');

    var Image1_img = document.getElementById('img1');
    var Image2_img = document.getElementById('img2');
    var Image3_img = document.getElementById('img3');
    var Image4_img = document.getElementById('img4');

    image1.onclick = function () {
        Image1.style.display = "block";
        Image1_img.src = this.src;
    }
    image2.onclick = function () {
        Image2.style.display = "block";
        Image2_img.src = this.src;
    }
    image3.onclick = function () {
        Image3.style.display = "block";
        Image3_img.src = this.src;
    }
    image4.onclick = function () {
        Image4.style.display = "block";
        Image4_img.src = this.src;
    }

    var clear_button = document.getElementById('clear')
    clear_button.onclick = function () {
        document.getElementById('guess').value = ""
    }
    var span1 = document.getElementsByClassName("close")[0]
    span1.onclick = function () {
        Image1.style.display = "none";
    }
    var span2 = document.getElementsByClassName("close")[1]
    span2.onclick = function () {
        Image2.style.display = "none";
    }
    var span3 = document.getElementsByClassName("close")[2]
    span3.onclick = function () {
        Image3.style.display = "none";
    }
    var span4 = document.getElementsByClassName("close")[3]
    span4.onclick = function () {
        Image4.style.display = "none";
    }

    var countDown = 16;


    var timer = 4;
    var y = setInterval(function () {
        if (timer - 1 > 0) {
            timer = timer - 1;
            document.getElementById('timer').innerHTML = timer;
        } else {
            timer = "Begin!"
            document.getElementById('timer').innerHTML = timer;

        }
    }, 1000);
    var x = setInterval(function () {
        if (timer == "Begin!") {
            document.getElementById('time').hidden = true
            if (countDown - 1 > 0) {
                countDown = countDown - 1;
                document.getElementById('countDown').innerHTML = countDown;
            } else {
                countDown = countDown - 1;
                document.getElementById('countDown').innerHTML = "Time is Expired";
            }
        }
    }, 1000);
    var redBar1 = document.getElementById('rbar1');
    var redBar2 = document.getElementById('rbar2');
    var redBar3 = document.getElementById('rbar3');
    var redBar4 = document.getElementById('rbar4');
    var rWidth1 = 40 * 20;
    var rWidth2 = 22 * 20;
    var rWidth3 = 20 * 20;
    var rWidth4 = 18 * 20;
    redBar1.style.width = rWidth1 + "px";
    redBar2.style.width = rWidth2 + "px";
    redBar3.style.width = rWidth3 + "px";
    redBar4.style.width = rWidth4 + "px";
    var blueBar1 = document.getElementById('bbar1');
    var blueBar2 = document.getElementById('bbar2');
    var blueBar3 = document.getElementById('bbar3');
    var blueBar4 = document.getElementById('bbar4');
    var bWidth1 = 60 * 20;
    var bWidth2 = 30 * 20;
    var bWidth3 = 5 * 20;
    var bWidth4 = 5 * 20;
    blueBar1.style.width = bWidth1 + "px";
    blueBar2.style.width = bWidth2 + "px";
    blueBar3.style.width = bWidth3 + "px";
    blueBar4.style.width = bWidth4 + "px";
    document.getElementById('hideRed').style.display = "none";
    document.getElementById('hideBlue').style.display = "none";
    var z = setInterval(function () {
        if (countDown == -2) {
            document.getElementById('hideRed').style.display = "block";
        }
        if (countDown == -10) {
            document.getElementById('hideBlue').style.display = "block";
        }
        if(countDown == -18){
            document.getElementById('hideScore').style.display = "block";
        }
    }, 1000);


</script>

</body>
</html>